/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0px;
    border: 0px;
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}

@font-face {
  font-family: "lettertype";
  src: url("batmfa__.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lettertype";
}

main {
    margin: 0 auto ;
    width: 900px;
    position: relative;
    font-size: 20px;
}


article {
    text-align: justify;
    margin-top: 40px;
    margin-left: 10px;
}


header {
    text-align: center; 
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
}



footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 900px;
    margin-top: 5px;
}

.informatie{
    overflow-y: auto;
    position: fixed;
    top: 200px;
    bottom: 150px;
    
    width: 900px;
}




/* tekstkleuren*/

.HomeTekst{
    color: rgb(32, 90, 230);
}

.gamemodesTekst{
    color: rgb(3, 171, 13);
}

.geschiedenisTekst{
    color: rgb(207, 240, 79);
}

.wapensTekst{
    color: rgb(94, 96, 143);
}

.skinsTekst{
    color: rgb(14, 100, 199);
}

.operatiesTekst{
    color: rgb(238, 109, 57);
}

/* tekstachtergronden */

div.inhoud1 {
    background-color: rgb(32, 90, 230,0.5);
    border-radius: 25px;
    padding: 10px
}

div.inhoud2 {
    background-color: rgb(207, 240, 79,0.5);
    border-radius: 25px;
    padding: 10px
}
div.inhoud3 {
    background-color: rgb(3, 171, 13,0.5);
    border-radius: 25px;
    padding: 10px
}
div.inhoud4 {
    background-color: rgb(94, 96, 143,0.7);
    border-radius: 25px;
    padding: 10px
}
div.inhoud5 {
    background-color: rgb(14, 100, 199,0.5);
    border-radius: 25px;
    padding: 10px
}
div.inhoud6 {
    background-color: rgb(238, 109, 57,0.5);
    border-radius: 25px;
    padding: 10px
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(238, 109, 57);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    border-radius: 10px;
    
    
}

nav ul li {
    float: left;
    
    
}

/* navigatie kleuren*/

nav.HomeNav li a {

    background-color: rgb(62, 104, 201);
}

nav.HomeNav li a.active{

    background-color: rgb(42, 68, 130);
}

nav.gamemodesNav li a {

    background-color: rgb(9, 128, 17);
}

nav.gamemodesNav li a.active{

    background-color: rgb(6, 92, 11);
}

nav.geschiedenisNav li a {

    background-color: rgb(182, 222, 27);
}

nav.geschiedenisNav li a.active{

    background-color: rgb(173, 217, 0);
}

nav.wapensNav li a {

    background-color: rgb(103, 105, 143);
}

nav.wapensNav li a.active{

    background-color: rgb(70, 71, 97);
}

nav.skinsNav li a {

    background-color: rgb(21, 100, 191);
}

nav.skinsNav li a.active{

    background-color: rgb(17, 80, 153);
}

nav.operatiesNav li a {

    background-color: rgb(250, 170, 49);
}

nav.operatiesNav li a.active{

    background-color: rgb(255, 0, 0);
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 13.75px;
    text-decoration: none;
    border-right: solid 3px;
}

#laatste{
    border-right: 0px;
}

nav li a:hover {
    background-color: #aaaaaa;
}




/* achtergronden */

body.thuispagina{
    background-image: url("afbeeldingen/achtergrond.jpg");
}

body.wapens{
    background-image: url("afbeeldingen/achtergrond wapens.jpg");
}

body.gamemodes{
    background-image: url("afbeeldingen/achtergrond spelmodus.jpg");
}

body.geschiedenis{
    background-image: url("afbeeldingen/achtergrond geschiedenis.jpg");
}

body.skins{
    background-image: url("afbeeldingen/achtergrond skins.jpg");
}

body.operaties{
    background-image: url("afbeeldingen/achtergrond operaties.jpg");
}