/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0px;
    border: 0px;
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center; 
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
}



footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 1100px;
    color: skyblue;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.spelmodus {
    background-color: rgb(135,206,235,0.5);
    float: right;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    color: white;
    margin: 30px;
    padding: 15px;
    clear: right;
}

div.spelmodus:hover {
    background-color: #EE66EE;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background: #dddddd;
    overflow: hidden;
    
    
    
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}


/* achtergronden */

body.thuispagina{
    background-image: url("afbeeldingen/achtergrond.jpg");
}

body.wapens{
    background-image: url("afbeeldingen/achtergrond wapens.jpg");
}

body.gamemodes{
    background-image: url("afbeeldingen/achtergrond spelmodus.jpg");
}

body.geschiedenis{
    background-image: url("afbeeldingen/achtergrond geschiedenis.jpg");
}
